{% extends "base.html" %}

{% block title %}Insertar Producto{% endblock %}

{% block content %}
    <h1>Insertar Producto</h1>
    <!-- insert_product.html -->
<form method="POST" enctype="multipart/form-data">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required><br>

    <label for="precio">Precio:</label>
    <input type="number" name="precio" required><br>

    <label for="categoria">Categoría:</label>
    <input type="text" name="categoria" required><br>

    <label for="imagen">Imagen del producto:</label>
    <input type="file" name="imagen" accept="image/*" required><br>

    <button type="submit">Insertar Producto</button>
</form>

{% endblock %}
